body{
    overflow-x: hidden;
}

.header-nav{
    display: flex;
    align-items: center;
    gap: 74px;
}

.header-list__link{
    color: var(--color50);
}

.header-ul{
    display: flex;
    gap: 74px;
}

.header__list:nth-child(2){
    font-weight: 700;
}

.header-container{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
}

.burger-w-menu{
    display: none;
}

/* banner-section */

.banner-text{
    margin-top: 97px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.banner__title{
    font-size: 56px;
    font-weight: 700;
}

.banner__img{
    margin-top: 86px;
    max-width: 100%;
}

/* achievment-section */

.section-line{
    margin-top: 100px;
    margin-bottom: 20px;
}

.achievment-img-w-features{
    display: flex;
    justify-content: space-between;
    margin-top: 56px;
}

.achievment__features{
    width: 252px;
    height: 525px;
    padding: 40px 48px;
    background-color: #2C3878;
    display: flex;
    flex-direction: column;
    gap: 57px;
}

.achievment__features__li{
    text-align: center;
    color: white;
}

.achievment__features__h2{
    font-weight: 400;
    font-size: 52px;
    line-height: 160%;
}

.achievment__features__h4{
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
}

.service__p{
    margin-top: 25px;
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #9C9C9C;
}

.service-ul{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
}

.service-ul__li{
    width: 388px;
    height: 295px;
    padding: 20px 27px;
    background-color: white;
    box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.service-li__circle{
    min-width: 63px;
    min-height: 63px;
    display: flex;
    border-radius: 50%;
    background-color: #D9D9D9;
}

.service-li__h3{
    display: flex;
    padding: 20px 0;
}

.service-li__p{
    color: #9C9C9C;
}

/* discuss-section */

#discuss-section{
    display: flex;
    background-color: #2C3878;
    padding: 38px 0;
    margin-top: 100px;
}

.discuss-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.discuss__h1{
    color: white;
}

.discuss__p{
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: #D9D9D9;
}

.discuss__button{
    background-color: white;
    color: black;
   margin-top: 20px;
}


/* footer section */

.footer{
    display: flex;
    justify-content: space-between;
    padding: 80px 0;
}

.al-end{
    display: flex;
    flex-direction: column;
    align-items: flex-end;

}

.footer-email{
    margin-top: 40px;
}

.email-label{
    display: flex;
    align-items: center;
    gap: 10px;
}

.footer-input{
    width: 440px;
    height: 49px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    padding-bottom: 5px
}

.footer-email__strelka{
    transform: translate(-30px, 0);
}

.footer-socials{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 40px 30px 0 0;
}

.footer-socials-icons{
    display: flex;
    gap: 20px;
}

.footer-socials-icons a{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D9D9D9;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 1px 2px;
    color: green;
}


@media screen and (max-width: 1145px) {
    
    h1{
        font-size: 32px;
    }

    p{
        font-size: 14px;
    }

    .wide-wrap{
        max-width: 900px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .section__h4{
        font-size: 14px;
    }

    .line{
        width: 300px;
    }

    /* achievment section */

    .achievment__features{
        position: relative;
    }

    .achievment__features__li h2{
        font-size: 30px;
    }

    .achievment__features__li h4{
        font-size: 15px;
    }

    .achievment__img{
        width: 100%;
    }


    /* service section */

    .service-ul__li h3{
        font-size: 18px;
    }

    .service-ul__li p{
        font-size: 14px;
    }

    /* footer section */

    .footer-input{
        width: calc(100% - 60px);
    }
}

@media screen and (max-width: 869px) {
    h1{
        font-size: 28px;
    }

    p{
        font-size: 12px;
    }

    .header-nav{
        display: none;
    }

    .burger-w-menu{
        display: block;
    }

    .burger-menu{
        position: absolute;
        background-color: #2C3878;
        color: white;
        width: 200px;
        height: auto;
        transform: translate(-150px, 0);
        padding: 10px 10px;
        display: none;
        z-index: 1;
        border: 1px solid black;
    }

    .burger-menu a {
        color: white;
    }

    .burger__li{
        font-size: 30px;
    }

    .achievment__img{
        display: none;
    }

    /* service section */

    .service-ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}