
.header__list:nth-child(3){
    font-weight: 700;
}

/* banner-section */

.banner-text{
    margin-top: 97px;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 36px;
}

.banner__title{
    font-size: 56px;
    font-weight: 700;
}

.banner__img{
    margin-top: 86px;
    max-width: 100%;
}

/* achievment-section */

.achievement-ul{
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.achievement-ul__item{
    display: flex;
    align-items: center;
    gap: 120px;
}

.achievement-ul__item img{
    max-width: 100%;
}

.achievement-ul__item p{
    color: #9C9C9C;
    padding-top: 20px;
}


/* product-section */

.product-text{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product-ul__text{
    display: flex;
    align-items: start;
    width: 1080px;
    justify-content: space-between;
}

.product-ul__text p{
    padding-top: 24px;
}

.product-ul__text svg{
    transform: translate(0, 5px);
}

.product-ul{
    display: flex;
    flex-direction: column;
    gap: 43px;
    padding-top: 73px;
}

.product-ul li{
    display: flex;
    gap: 80px;
}

/* discuss-section */



/* footer section */




@media screen and (max-width: 1145px) {
    
    h1{
        font-size: 32px;
    }

    p{
        font-size: 14px;
    }

    .wide-wrap{
        max-width: 900px;
        padding-left: 10px;
        padding-right: 10px;
    }

    .section__h4{
        font-size: 14px;
    }

    .line{
        width: 300px;
    }

    /* achievment section */

    .achievment__features{
        position: relative;
    }

    .achievment__features__li h2{
        font-size: 30px;
    }

    .achievment__features__li h4{
        font-size: 15px;
    }

    .achievment__img{
        width: 100%;
    }


    /* product-section */

    .achievement-ul__item{
        flex-direction: column-reverse;
        gap: 20px;
    }

    /* footer section */

    .footer-input{
        width: calc(100% - 60px);
    }
}

@media screen and (max-width: 869px) {
    h1{
        font-size: 28px;
    }

    p{
        font-size: 12px;
    }

    .header-nav{
        display: none;
    }

    .burger-w-menu{
        display: block;
    }

    .burger-menu{
        position: absolute;
        background-color: #2C3878;
        color: white;
        width: 200px;
        height: auto;
        transform: translate(-150px, 0);
        padding: 10px 10px;
        display: none;
        z-index: 1;
        border: 1px solid black;
    }

    .burger-menu a {
        color: white;
    }

    .burger__li{
        font-size: 30px;
    }

    .achievment__img{
        display: none;
    }

    /* service section */

    .service-ul{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}