
.header__list:first-child{
    font-weight: 700;
}


/* banner */

#banner-section{
    display: flex;
    flex-direction: column;
    padding-top: 100px;

    & h1{
        font-weight: 700;
        font-size: 72px;
        line-height: 140%;
        color: var(--color50);
    }
    
    & p{
        display: flex;
        transform: rotate(-90deg) translateX(650px) translateY(573px);
    }
}

.design::after{
    content: '';
    display: flex;
    position: absolute;
    width: 680px;
    height: 2px;
    background-color: var(--color70);
    margin-left: 515px;
    margin-top: -50px;
}

.banner-img-w{
    display: flex;
    justify-content: end;
}

.banner__img{
    display: flex;
    justify-self: flex-end
}

.banner__features{
    display: flex;
    position: absolute;
    width: 252px;
    height: 525px;
    background-color: #2C3878;
    transform: translate(-142px, -209px);
    justify-content: center;

    & ul{
        padding: 50px 48px;
        text-align: center;
        color: white;
        font-weight: 400;
        line-height: 160%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        & li{
            display: flex;
            flex-direction: column;
            gap: 30px;

            & h2{
                font-size: 52px;
                font-weight: 300;
            }

            & h4{
                font-size: 16px;
                font-weight: 300;
            }
        }
    }
}

/* about-section */

#about-section{
    margin-top: 150px;

    & h1{
        padding-bottom: 60px;
    }
}

.about-img-w-element{
    display: flex;
}

.about__element{
    display: flex;
    align-items: center;
    width: 276px;
    height: 90px;
    background-color: white;
    box-shadow: 10px 10px 40px 0 rgba(0, 0, 0, 0.05);
    padding: 0 0 0 20px;
    position: absolute;
    transform: translate(810px, 27px);

    & .about-element-text{
        padding-left: 20px;

        & h4{
            font-weight: 600;
            font-size: 18px;
            line-height: 140%;
        }

        & p{
            color: var(--color10);
        }
    }
}

.about-p-w-button{
    padding: 197px 0 0 94px;
    
    & p{
        font-weight: 400;
        font-size: 18px;
        line-height: 160%;
        color: var(--color10);
        padding-bottom: 40px;
    }
}

/* services-section */

#services-section{
    display: flex;
    flex-direction: column;

    & img{
        align-self: flex-end;
        position: absolute;
        transform: translate(0, 280px);
    }
}

.services-text{
    background-color: white;
    width: 883px;
    z-index: 1;

    & p{
        padding-top: 24px;
        color: var(--color10);
    }

    & ul{
        width: 883px;
        height: 200px;
        background-color: white;
        position: relative;
        z-index: 1;
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        gap: 35px;

        & li{
            display: flex;

            & span{
                font-weight: 600;
                font-size: 24px;
                line-height: 140%;
                color: var(--color50);
            }
        }
    }
}

.ul-strelka{
    display: flex;
    width: 778px;
    justify-content: space-between;
}

/* product-section */

#product-section{
    padding-top: 310px;
}

.product-text{
    display: flex;
    justify-content: space-between;
}

.product-ul__text{
    display: flex;
    align-items: start;
    width: 1080px;
    justify-content: space-between;
}

.product-ul__text p{
    padding-top: 24px;
}

.product-ul__text svg{
    transform: translate(0, 5px);
}

.product-ul{
    display: flex;
    flex-direction: column;
    gap: 43px;
    padding-top: 73px;
}

.product-ul li{
    display: flex;
    gap: 80px;
}


/* material-section */

#material-section{
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    align-items: start;
    padding-bottom: 120px;

    & .material-text{
        grid-row-start: 2;
        grid-column-start: 1;
        
        & p{
            font-weight: 400;
            font-size: 18px;
            line-height: 160%;
            color: var(--color10);
            padding-top: 10px;
            padding-bottom: 23px;
        }

        & button{
            background-color: transparent;
            border: 1px solid var(--color30);
            color: black;
        }
    }

    & .material-imgs{
        grid-row-start: 1;
        grid-column-start: 2;
    }
}

.materials-line{
    padding-top: 47px;
}

.material-imgs{
    display: grid;
    grid-template-columns: repeat(2, 0fr);
    grid-gap: 40px;
    transform: translate(-40px, 130px);

    & .material__img1{
        grid-row-start: 2;
        grid-column-start: 1;
        margin-top: -170px;
        position: relative;
    }

    & .material__img2{
        grid-row-start: 1;
        grid-column-start: 2;
    }

    & .material__img3{
        grid-row-start: 2;
        grid-column-start: 2;
    }
}

/* discuss-section */


/* footer */




@media screen and (max-width: 1230px) {

    h1{
        font-size: 32px;
    }

    p{
        font-size: 14px;
    }

    
    .header-container{
        display: flex;
        justify-content: space-between;
    }

    .wide-wrap{
        max-width: 900px;
        padding: 0 10px;
    }

    .section-line{

        & h4{
            font-size: 14px;
        }

        & .line{
            width: 300px;
        }
    }

    
    /* banner-section */
    #banner-section{


        & h1{
            font-size: 55px;
        }

        & .banner-p{
            transform: rotate(-90deg) translateX(490px) translateY(425px);
            font-size: 13px;
        }

        & .design::after{
            width:365px;
        }
    }

    .banner__features{
        width: 120px;
        height: 400px;

        & ul{

            & li{
                gap: 10px;
            }
        }

        & .banner__features__h2{
            font-size: 30px;
        }

        & .banner__features__h4{
            font-size: 15px;
        }
    }

    .banner-img-w{

        & img{
            width: 100%;
        }
    }


    /* about-section */

    #about-section{
        padding: 120px 10px;

        & .about-img-w-element{
            flex-direction: column;

            & p{
                width: 500px;
            }

        }

        & .about-p-w-button{
            padding: 0;
        }

        & .about__element{
            display: block;
            flex-direction: column;
            transform: translate(510px, 490px);
            height:auto;
            width: 150px;
            padding: 10px 30px;
            box-shadow: 10px 10px 40px 0 rgba(0, 0, 0, 0.05);

            & .about-element-text{
                padding: 10px 10px;

                & p{
                    width: 70px;
                }
            }
        }
    }


    /* services-section */

    #services-section{


        & img{
            align-self: center;
            position: relative;
            max-width:100%;
            max-height:100%;
            transform: translate(0 , -100px);
        }

        & .ul-strelka{
            display: flex;
            width: 60%;
            justify-content: space-between;
        }
    }

    /* product-section */

    #product-section{
        margin-top: -410px;
    }


    /* material-section */

    #material-section{
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-bottom: 120px;

        & .material-imgs{
            position: relative;
            left: 100px;
        }
    }


    /* discuss-section */

    #discuss-section{

        & h1{

        }
    }
}


@media screen and (max-width: 910px) {

    h1{
        font-size: 28px;
    }

    p{
        font-size: 12px;
    }
    

    .header-nav{
        display: none;
    }

    .burger-w-menu{
        display: flex;
    }

    .burger-menu{
        position: absolute;
        background-color: #2C3878;
        color: white;
        width: 200px;
        height: auto;
        transform: translate(-150px, 50px);
        padding: 10px 10px;
        display: none;
        z-index: 1;
        border: 1px solid black;
    }

    .burger-menu a {
        color: white;
    }

    .burger__li{
        font-size: 30px;
    }


    /* banner-section */

    #banner-section{
        padding-top: 30px;

        & h1{
            font-size: 40px;
            text-align: center;
            margin-bottom: 20px;
        }

        & .design::after{
            display: none;
        }

        & .banner__features{
            width: 90px;
            height: auto;
            transform: translate(-20px, -50px);

            & ul{
                padding: 10px 10px;
                gap: 10px;

                & li{
                    gap: 0px;

                    & h2{
                        font-size: 20px;
                    }

                    & h4{
                        font-size: 12px;
                    }
                }
            }
        }

        & .banner-p{
            display: none;
        }
    }

    .section-line{

        & h4{
            font-size: 12px;
        }

        & .line{
            width: 300px;
        }
    }

    /* about-section */

    #about-section{

        & h1{
            padding-bottom: 20px;
        }
    }

    #about-section{
        
        & .about-img-w-element{

            & p{
                width: auto;
                padding-bottom: 20px;
            }
        }

        & .about__element{
            display: none;
        }
    }

    /* services-section */

    .services-text{

        & ul{

            & h3{
                font-size: 20px;
            }
        }
    }

    .services-text h1{
        width: 300px;
    }

    #services-section{

        & .ul-strelka{
            display: flex;
            width: auto; 
            justify-content: space-between;
        }

        
    }

    /* material-section */

    #material-section{
        & .material-imgs{
            display: flex;
            flex-direction: column;
            transform: translate(-60px, 200px);

        }
    }


    /* footer-section */

    footer{


        & .email-form{

            & input{
                width: 150px;
            }
        }
    }
}